@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    box-sizing: border-box;
}

.page-wrapper {
    position: relative;
}

header {
    height: 230px;
    padding: 20px 0 70px 0;
    background: #2d6360 50% 0 url(../images/huntington.png) no-repeat;
    background-attachment: fixed, fixed, fixed, scroll;
    text-align: center;

}

body {
    color: #325050;
    background: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Libre Baskerville';
    font-size: 
    
}

h1 {
    margin-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;
    font-weight: normal;
    position: relative;
}

h1::before {
    display: inline-block;
    position: relative;
    top: 20px;
    content: "";
    margin: -20px 20px 0 0;
    background: url(../images/zen.svg);   
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.8;
    width: 80px;
    height: 80px;
    position: relative;
}

h2 {
    display: block;
    padding-top: 5px;
    padding-bottom: 30px;
    color: rgb(255,255, 255, 0.6);
    font-size: 1.6em;
    font-style: italic;
}

h2::before {
    content: "";
    padding: 50px;
}
abbr {
    border: none;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.01em;
}

p {
    margin: 40px;;
    line-height: 2;
    display: block;
    margin-block-start: 2em;
    
}

h3 {
    margin: 40px;
    font-family: 'Julius Sans One';
    font-size: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
}

div {
    display: block;
}



div.participation, div.benefits {
    background-attachment: scroll, scroll, fixed;
    background-color: rgb(138, 188, 159, 0.5);
    background-image: url(../images/bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    padding: 10px;
}

.summary {
    width: 80%;
    padding-top: 2em;
}

footer {
    clear: both;
    padding: 3em 10%;
    color: #ffffff;
    background: #134347;
    text-align: center;
}

footer a {
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 3px;
    left: 0;
    overflow: visible;
    font-size: 45px;
    text-indent: 0;
    font-family: 'verdemoderna';
    speak: none;
    font-weight: normal;
    width: 40px;
    height: 40px 0 0 0;
    padding: 40px;
    position: relative;
    color: white;
}

footer a:visited {
    color: rgba(255, 255, 255, 0.2);
}

a:hover {
    background-color: antiquewhite;
}

a:visited {
    color: #1a5952;
}

.sidebar {
    background: #edf4f0;  
}

.sidebar ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.design-selection li, .zen-resources li {
    float: left;
    width: 50%;
    padding: 1.5em;
    border-top: solid 1px #d9e3dc;
    color: #c0cac3;
    font-style: italic;
}

.zen-resources {
    overflow: hidden;
    background-color: rgba(128, 188, 159, 0.5);
    background-image: url(../images/bamboo.png);
}